<div class="col-md-2">
    <div class="form-group">
        <label for="Centro" class="required">Instalación</label>
        @(this.Html.Kendo().ComboBox().Name("Instalacion")
					 .Placeholder("Selecciona Instalacion")
					 .DataTextField("Text").DataValueField("Value")
					 .Filter(FilterType.Contains)
					 .BindTo((SelectList)this.ViewData["Instalaciones"])
					 .Suggest(true)
 				     .HtmlAttributes(new { style = "width:100%;",id = "Instalacion01" ,name="Instalacion01"})) 
            <span id="datosCentro"  style="display:none;color:#b94a48;">Este campo es requerido.</span>
    </div>
</div>
