@{
	Layout = "~/Views/Shared/LayoutSite.cshtml";
}
<body class="error-full-page">
<!-- start: PAGE -->
<div class="container">
	<div class="row">
		<!-- start: 404 -->
		<div class="col-sm-12 page-error">
			<div class="error-details col-sm-6 col-sm-offset-3">
				<p>
					<h2>Se ha caducado la sessión del usuario</h2>			
					<a href="@(this.Url.Action("Index","Menu"))" class="btn btn-teal btn-return">
						Retornar Inicio
					</a>
				</p>
			</div>
		</div>
	</div>
</div>