@*<a href="javascript:void(0)"><i class="clip-file-3"></i>
    <span class="title"> Gestión de Planes </span><i class="icon-arrow"></i>
    <span class="selected"></span>
</a>*@
@*<ul id="IdSubMenuPlanes" class="sub-menu">
    <li id="Id050">
        <a href="#">
            Pendiente </a>
    </li>
</ul>*@

