@using SecurePort.Entities.Models
@using System.Activities.Expressions
@model UsuarioPassword
@{
	this.ViewBag.Title = "Cambio de Contraseña";
	UsuarioCorreo usuarioCorreo = new UsuarioCorreo();
}
<div id="IdContainer" class="container">
	<div class="row">
		<div class="col-lg-18">
			<div class="panel panel-default"  >
				<div class="panel-heading" >
					<a data-original-title="Ayuda" data-placement="bottom" data-style="top" class="clip-user-2 tooltips" onclick=" Ayuda() "></a>
					Datos de Mi Perfil
				</div>
				<div class="panel-body" style="height: 415px; width: 463px; margin-top: 1%;" >
					<div class="tabbable panel-tabs">
						<ul class="nav nav-tabs">
							<li class="active">
								<a data-toggle="tab" href="#panel_tab_example3">
									Contraseña
								</a>
							</li>
							<li>
								<a data-toggle="tab" href="#panel_tab_example4">
									Correo
								</a>
							</li>
						</ul>
						<div class="tab-content">
							<div id="panel_tab_example3"  class="tab-pane active">
								@(this.Html.Partial("~/Views/Usuarios/_PartialTab1.cshtml",this.Model))
							</div>
							<div id="panel_tab_example4" class="tab-pane">
								@(this.Html.Partial("~/Views/Usuarios/_PartialTab2.cshtml",usuarioCorreo))
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	jQuery(document).ready(function() {
		$(document).keydown(function (event) {
			if (event.ctrlKey == true && (event.which == '118' || event.which == '86')) {
				event.preventDefault();
			}
		});
	});
</script>