@using SecurePort.Entities.Models
@using System.Activities.Expressions
@model UsuarioPassword
@{
    this.ViewBag.Title = "Validar Contraseña";
    UsuarioCorreo usuarioCorreo = new UsuarioCorreo();
}
<div class="tabbable panel-tabs">
    <div class="tab-content">
        <div id="panel_tab_example1"  class="tab-pane active">
            @(this.Html.Partial("~/Views/Usuarios/_PartialTab3.cshtml",this.Model))
        </div>
    </div>
</div>
<script type="text/javascript">
    jQuery(document).ready(function() {
        $(document).keydown(function (event) {
            if (event.ctrlKey == true && (event.which == '118' || event.which == '86')) {
                event.preventDefault();
            }
        });
    });
</script>