<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="clip-checkbox"></i>
                Dependencias asociadas
            </div>
            <div class="panel-body" style="height: 280px">
                <div id="OrganismoDisponible">
                   @(this.Html.Partial("~/Views/Usuarios/Documentos/_PartialOrganismosAsociados.cshtml"))
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="clip-checkbox"></i>
                Documentos asociados
            </div>
            <div class="panel-body" style="height: 280px">
                <div id="OrganismoRefrescar">
                    @Html.Action("AsociadosEdit", "Usuarios", new { ToolBar=true })
                </div>
            </div>
        </div>
    </div>
</div>
