<div class="panel-body">
	<div class="row">
		<div class="col-md-10">
			<div class="table-responsive">
				<table class="table table-bordered table-hover" id="sample_14" data-url="@(this.Url.Action("DependenciasAsociados", "Usuarios"))">
					<thead>
						<tr>
							<th class="hidden-xs">Id</th>
						    <th>Descripción</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<script>
    jQuery(document).ready(function () {
        UIDataTablesDependenciasAsociados.init();
    });
</script>
