<div class="col-md-4">
    <div class="form-group">
        <label class="control-label">
            Inicio Planificada
        </label>
        @(Html.Kendo().DatePicker()
		      .Name("iniciopicker")                                              
		      .Enable(this.ViewData["EstadoFechaPlanEne"].ToString().Equals("1")? true: false)
		      .Culture("es-ES")
		      .HtmlAttributes(new { id="IniPlanifica01", name="Inicio", placeholder = "Inserte el Fecha", onChange = "ValidarFecha()", style = "width:100%;background-color:" + this.ViewData["EstadoFechaPlanCol"].ToString() })
		      .Value(this.ViewData["FechaIniPla"].ToString())
		      .Footer("Hoy - #=kendo.toString(data, 'd') #")
		 )
        <span id="datosIniPlani" style="display: none; color: #b94a48;">Este campo es requerido.</span>
    </div>
</div>

<div class="col-md-4">
    <div class="form-group">
        <label class="control-label">
            Fin Planificada
        </label>
        @(Html.Kendo().DatePicker()
			  .Name("Finpicker")                                              
			  .Enable(this.ViewData["EstadoFechaPlanEne"].ToString().Equals("1")? true: false)
			  .Culture("es-ES")
			  .HtmlAttributes(new { id="FinPlanifica01", name="FinPlanifica01", placeholder = "Inserte el Fecha", onChange = "ValidarFecha()", style = "width:100%;background-color:" +  this.ViewData["EstadoFechaPlanCol"].ToString() })
			  .Value(this.ViewData["FechaFinPla"].ToString())
			  .Footer("Hoy - #=kendo.toString(data, 'd') #")
		  )   
        <span id="datosFinPlani" style="display: none; color: #b94a48;">Este campo es requerido.</span>
        <span id="datosFinValidaPla"  style="display:none;color:#b94a48;">La fecha fin es menor a la fecha de inicio.</span>
    </div>
</div>
