@{
	string NombreGrupo = string.Empty;
	if (TempData["Grupo"] != null)
	{
		NombreGrupo = TempData["Grupo"].ToString();    
	}
}
@if (NombreGrupo != string.Empty)
{
<label class="control-label"><b>Módulo: @NombreGrupo </b></label>   
}
<input type="text" id="IdConjunto"  name="IdConjunto"  style="display: none">
<div class="panel-body">
	<div class="row">
		<div class="col-sm-10">
			@(this.Html.Kendo().Grid<SecurePort.Entities.Models.AltaAcciones>().Name("GridAcciones")
				  .Columns(columns =>
				  {
					  columns.Bound(o => o.Id).Hidden(true);
					  columns.Bound(o => o.idConjunto).Hidden(true);
					  columns.Bound(o => o.Nombre).Title("Nombre").HtmlAttributes(new { style = "text-align: left;" }).Width(90);
				  })
				  .Events(events => events.Change("onChangePermisos"))
				  .HtmlAttributes(new { style = "height: 600px;width:84%" })
				  .Selectable(selectable => selectable.Mode(GridSelectionMode.Multiple))
				  .DataSource(dataSource => dataSource.Ajax()
					  .PageSize(35)
					  .Model(model => model.Id(p => p.Id))
					  .Read(read => read.Action("AccionesDisponibles", "Perfiles")))
				  .Sortable(sortable => sortable.AllowUnsort(true)
				  .SortMode(GridSortMode.MultipleColumn))
				  .Filterable()
				  .Scrollable()
				  .Pageable()
				  )
		</div>
	</div>
</div>